.borderNone {
box-shadow: none !important;
  display: none;
}

.customerAccordion >  .title:first-child {
  color: red !important;
}

.customerAccordion >  .title:nth-child(2) {
  color: orange !important;
}

.customerAccordion >  .title:last-child{
  color: green !important;
}

.country {
  color: black;
}

.country > span {
  margin-left:  5px;
}
